<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
       <services>
         <register serviceType="Sitecore.XA.Foundation.SitecoreExtensions.Services.IRazorService, Sitecore.XA.Foundation.SitecoreExtensions" 
                   patch:instead="*[@implementationType='Sitecore.XA.Foundation.SitecoreExtensions.Services.RazorService, Sitecore.XA.Foundation.SitecoreExtensions']"
                   implementationType="Sitecore.Support.XA.Foundation.SitecoreExtensions.Services.RazorService, Sitecore.Support.13312" lifetime="Singleton"/>
       </services>
    </sitecore>
</configuration>